*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins',sans-serif;
  box-sizing: border-box;
}
.hero{
  width: 100%;
  color: #f0f0f3;
}
.myname{
  height: 400px;
}
.hero img {
  height: 60px;
   
}

nav {
  background: #506d6d;
  width: 100%;
  height: 100px;
  padding: 10px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.user{
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 40px;
  padding-top: 20px;
}
/* nav ul{
  width: 100%;
  text-align: right;

}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;

}
nav ul li a{
  color: #fff;
  text-decoration: none;
} */
.sub-menu-wrap{
  position: absolute;
  top: 100%;
  right: 10%;
  width: 320px;
  max-height:0px ;
  overflow: hidden;
  transition:max-height 0.5s;
  

}
.sub-menu-wrap.open-menu{
max-height: 400px;
}
.sub-menu{
  background: #fff;
  padding: 20px;
  margin: 10px;
}
.user-info{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;

}
.user-info h3{
  font-weight: 500;
  color: black;

}
.user-info img{
  width: 60px;
  border-radius:50%;
  margin: 15px;
}
.sub-menu hr{
  border: 0 ;
  height: 1px;
  width: 100%;
  background: #ccc;
  margin: 10px 15px;
}
.sub-menu-link{
  display: flex;
  align-items: center;
  text-decoration:none ;
  color: #525252;
  margin: 12px 0;
}
.sub-menu-link P{
  width: 100%;
}
.sub-menu-link img{
width: 40px;
background: #e5e5e5;
border-radius: 50%;
padding: 8px;
margin-right: 15px;
}
.sub-menu-link span{
  font-size: 22px;
  transition: transform 0.5s;
}
.sub-menu-link:hover span{
  transform: translateX(5px);
}
.sub-menu-link:hover p{
  font-weight: 600;
}

.grand_parent{
  
  
  /* background: #1f1d33; */
  color: #fff;
  margin-bottom: 300px;
}

.parent{
  background-color:#ebe4eb; 
  color: rgb(85, 58, 92);
  width: 30%;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 50px;
  margin-left: 30px;
  margin-bottom:20px;
  box-shadow: rgb(185, 135, 135);
  border-radius: 5%;
  
}
.outer{
  display: flex;
  flex-wrap: wrap; 
}
 @media (min-width:300px) and (max-width:700px) {
  .parent{
    width:45%;
    margin-left: 15px;

    
;}
} 
@media only screen and (max-device-width : 480px){
  .parent{
    width: auto ;
    
  }
}
.child{
  height:200px ;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex: 1 1 200px;
  margin: 20px ;
  margin-bottom: 20px;

  transition: all 0.2 linear;
}

.child img{
  height: 60px;
  width: 60px;
}
hr{
  margin-top: 30px;
  margin-bottom: 40px;
}

.inner-container{
  display: flex;
  flex-direction: row; 
  color: orange;
  justify-content: space-between;
  padding-right: 30px;
  padding-left: 30px;
  margin-top: 64px;
  margin-bottom: 46px;
}
.btn{
 background-color:#506d6d;
 padding-left: 25px;
 padding-right: 25px;
 border: none;
 border-radius: 13px;
 color: #fff;
 width: 120px;
 height: 38px;
}
.maindiv{
  width: 100%;
  height: 100%;
}
.posts{
  background-color: #fff;
  display: flex;
  flex-direction:row;
  justify-content: space-between;

}
.post{
   margin-top: 30px;
   margin-left: 50px;
   margin-bottom: 30px;
}
.home-button{
   background-color:greenyellow ;
   padding-left: 20px;
   padding-right: 20px;
   border: none;
   border-radius: 13px;
   margin-right: 10px;
}

.homelink{
  text-decoration: dashed;
  margin-right: 30px;
  margin-top: 30px;
}
.card{
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: space-around;
align-items: center;
margin-top: 34px;
margin-left: 20px;
margin-right: 20px;
box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);

}
.num{
  text-align: center;
  margin-top: 20px;
  width: 20%;
  height:full;
}
.jerry{
  width: 80%;
  border-left: 1px solid silver;
  padding-left: 30px;
  padding-top: 20px;
}